nav {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgb(178, 179, 176);
  width: 100%;
  z-index: 1;
}
nav ul {
  display: inline-block;
  list-style: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
nav li {
  display: inline-block;
  font-size: 18px;
  padding: 0 6px;
}

.bookImg {
  border-radius: 50%;
  border: 1px black solid;
  height: 55px;
  width: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.logout-button {
  font-size: 16px;
  border: none;
  background: #b2b3b0;
}

.logout-button:hover {
  cursor: pointer;
}