.post-item {
  list-style: none;
  margin-bottom: 15px;
  background-color: rgb(178, 179, 176);
  /* background-image: url('../../yellow-paper.jpg'); */
  background-repeat: no-repeat;
  border: 0.5px solid lavender;
  /* position: relative; */
  border-radius: 8px;
  margin-top: 10px;
}

.my-post-list {
  width: 90%;
  margin: 100px auto;
}

@media only screen and (min-width: 1000px) {
  .my-post-list {
    width: 65%
  }
}

.my-post-list ul {
  padding: 0;
}

.just-post {
  border: 1px solid black;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
  background: white;
}

.comment-button {
  color: black;
  background-color: inherit;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 10px;
  border: 0;
  position: relative;
  transition: background-color 0.25s ease-in;
}

.create-post-button {
  padding-left: 10px;
}
.post-button {
  margin-top: 140px;
  margin-bottom: -80px;
}

.vote-container {
  padding-left: 10px;
  padding-top: 10px;
}
.like-button {
  border: none;
  background-color: inherit;
  font-size: 16px;
}
.like-button:hover {
  cursor: pointer;
}
.dislike-button {
  border: none;
  background-color: inherit;
  margin-bottom: -2px;
  font-size: 16px;
}
.dislike-button:hover {
  cursor: pointer;
}
.like-counter {
  padding: 0 5px;
}
