/* .container {
  border: 1px solid black;
  margin: 0 auto;
  max-width: 250px;
} */

.sign-up-form {
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
}

.sign-up-form legend {
  width: 100%;
  font-family: "Pacifico", cursive;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 30px;
}

fieldset {
  padding-left: 75px;
  border: 0;
  margin: 0;
}

label {
  /* font-family: "Patua One", cursive; */
  font-family: "Vollkorn SC", serif;
}

.need-sign-up-login {
  font-family: "Roboto", sans-serif;
}

.email {
  display: block;
  background-color: rgba(214, 211, 211, 0.178);
  width: 320px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  border: 2px solid rgba(182, 182, 182, 0.575);
  border-radius: 5px;
}

.sign-up-login-button {
  margin-left: 37px;
  background-color: rgba(182, 182, 182, 0.575);
  color: black;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.25s ease-in;
}

.sign-up-button:hover {
  background-color: rgb(13, 148, 148);
}

/* login sign up similar so used same css */
.forgot-pass {
  padding-top: 10px;
}
